@model List<ControleDeEstoque.Web.Models.GrupoProdutoModel>
@{
    Layout = "~/Views/shared/_Cadastro.cshtml";

    ViewBag.Title = "Grupo de Produtos";

}

@section Styles {
    <link href="~/Content/Cadastros/GrupoProduto.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
}

@section TituloGrid {
    <th>Nome</th>
    <th>Ativo</th>
    <th>Ação</th>
}



@section CamposCadastro {
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
                @Html.TextBox("txt_nome", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("cbx_ativo", "Ativo", new { @class = "col-md-3 control-label" })
                @Html.CheckBox("cbx_ativo")
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var tituloPagina = '@ViewBag.title';
        var url_recuperar = '@Url.Action("RecuperarGrupoProduto", "CadGrupoProduto")';
        var url_exclusao = '@Url.Action("ExcluirGrupoProduto", "CadGrupoProduto")';
        var url_salvar = '@Url.Action("SalvarGrupoProduto", "CadGrupoProduto")';
        var url_pagina = '@Url.Action("GrupoProdutoPagina", "CadGrupoProduto")';
        var url_tam_pag_change = '@Url.Action("GrupoProdutoPagina", "CadGrupoProduto")';
        var linhas = [];
          @{

        var linha = 0;
        foreach (var item in Model)
        {
            linha++;
            if (linha <= ViewBag.QuantidadeLinhasPorPaginas)
            {
                         @:linhas.push(@Html.Raw(Json.Encode(item)));

            }
            else
            {
                break;
            }
        }
    }
    </script>
    <script id="template-grid" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Nome }}</td>
            <td>{{ #Ativo }}SIM{{ /Ativo }}{{ ^Ativo }}NÃO{{ /Ativo }}</td>
            <td>
                <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/Cadastro/GrupoProduto.js"></script>

}

