
@model List<ControleDeEstoque.Web.Models.UsuarioModel>
@{
    Layout = "~/Views/shared/_Cadastro.cshtml";

    ViewBag.Title = "Usuário";
}

@section Styles {
    <link href="~/Content/Cadastros/Usuario.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
}

@section TituloGrid {
    <th>Nome</th>
    <th>Login</th>
    <th>Ação</th>
}
@section LinhaGrid {
    @{

        var linha = 0;
        foreach (var item in Model)
        {
            linha++;
            if (linha <= ViewBag.QuantidadeLinhasPorPaginas)
            {
                <tr data-id="@item.Id">
                    <td>@item.Nome</td>
                    <td>@item.Login</td>
                    <td>
                        <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                        <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                    </td>
                </tr>
            }
            else
            {
                break;
            }
        }
    }

}

@section CamposCadastro {
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
                @Html.TextBox("txt_nome", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("txt_login", "Login", new { @class = "col-md-3 control-label" })
                @Html.TextBox("txt_login", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("txt_senha", "Senha", new { @class = "col-md-3 control-label" })
                @Html.TextBox("txt_senha", null, new { @class = "form-control", type = "password" })
            </div>
        </div>

    </div>

}
@section Scripts {
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var tituloPagina = '@ViewBag.title';
        var url_recuperar = '@Url.Action("RecuperarUsuario", "CadUsuario")';
        var url_exclusao = '@Url.Action("ExcluirUsuario", "CadUsuario")';
        var url_salvar = '@Url.Action("SalvarUsuario", "CadUsuario")';
        var url_pagina = '@Url.Action("UsuarioPagina", "CadUsuario")';
        var url_tam_pag_change = '@Url.Action("UsuarioPagina", "CadUsuario")';

    </script>
    <script src="~/Scripts/Cadastro/Usuario.js"></script>

}

